*{margin: 0;
padding: 0;}
body{
    font-family: serif;
    box-sizing: border-box;
    // overflow-x: hidden ;
}

// Navbar Section Display flex and other styling starts here :- 

#checkbox{
    display: none;
}
#burger-label{
    display: none;
    
}
#burger{
    display: none;
}
.nav-container{
    display: flex;
    width: 100%;
    
}
.page-heading{
    padding-left: 10%;
}


nav{
    display: flex;
    width: 100%;
    height: 8vh;
    gap: 8%;
    justify-content: flex-start;
    background-color: rgb(94, 167, 157);
    align-items: center;
   
    div{
          i{  
           
            color: rgb(0, 0, 0);
            border-radius: 100%;
            border: 2px solid black(0, 0, 0);
            width: 30px; height: 25px;
            text-align: center;
            background-color: rgb(255, 255, 255);
            
            padding-top: 6px;
            margin-left: -9%;
            transition: 1s ease-out;
            cursor: pointer;
          
            

        }

         ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 25%;
        
       

            li{
            
            list-style-type: none;
         
    
                 a{ 
                 width: 50px;
                 text-decoration: none;
                 color: rgb(255, 255, 255);
                 font-size: small;
                 transition: 1s ease-out;
               }
           
             }
           }
        
        }
    }

    // Hover Properties for Navbar Anchor Tags 

     .nav-container ul li a:hover{
         color: blueviolet;
         transition: 1s ease-in-out;

        
       
         box-sizing: border-box;
    }
     #navuser-icon:hover{
         color: rgb(26, 92, 31);
         background-color: blueviolet;
         outline: 1px solid rgb(255, 255, 255);
         transition: 1.2s ease;
    }



   
    
    // HEADER ENDS

    //  MAin STARTS
    // .container-section{
    //     background-color: rgb(0, 0, 0);
    //     width: 100vw; height: 100vh;
    // }

.tagcontainer-div{
    height: 45vh; width: 100%;
    background-color: rgba(36, 128, 141, 0.781);
}

 .headline{
          h1{display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
           
            justify-content: center;
            padding-top: 4% ;
            font-family: serif;
            
            font-size: 50px ;
            color: white;
          }
        }
.subhead-line{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 166);
   
    font-size: large;
    padding-bottom: 10px;
    height: 8%;
    // margin-top: 10%;
   
}    
#search{
    text-align: center;
}    
.search-bar{
    padding: 15px 20%;
    border-radius: 20px;
    border: transparent;
    text-align: center;
    width: 200px;
    position: relative;
    z-index: 1;

}
.btn-search{
    text-align: center;
    position: absolute;
    right: 290px; top: 203px;
    z-index: 1;
    border: transparent;
    border-radius: 15px;
    padding: 8px 15px;
    color: white;
    background-color: rgb(47, 211, 175);
    cursor: pointer;
    transition: 1s ease;
    
}
.btn-search:hover{
    color: blueviolet;
    transition: 1s ease;
}
// Section-1 Ends Here
// Section-2 Starts Here
#section-2{
    background-color: rgb(56, 110, 126);
    width: 100%;
    height: 46.9vh;
}
.container-div2{
    width: 100vw; height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; gap: 5%;
}
.web-design{
    width: 25%; height: 100%;
    border: transparent;
    border-radius: 20px;
    padding-left: 1%;
    position: relative;
    bottom: 65px;
    line-height: 2;
    
    background-color: white;
}
.web-para{
    color: gray;
    line-height: 1.5;
}
.web-img{
    padding-left: 25px;
    padding-top: 15px;
    height: 120px; width: 250px;
    text-align: center;
    
}
.discover-more{
    a{
        text-decoration: none;
        margin-left: 30%;
        color: rgb(255, 255, 255);
        border: 1px solid rgb(218, 7, 7);
        padding: 1%;
        background-color: red;
        transition: 2s ease;
    }
}
#discover-more:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(19, 0, 128);
    color: rgb(6, 3, 178);
    transition: 2s ease;
}
.finance{
  
    color: rgb(0, 0, 0);
    background-color: rgb(43, 66, 83);
    width: 40%; height: 100%;
    border: transparent;
    border-radius: 20px;
    padding-left: 1%;
    position: relative;
    bottom: 65px;
    line-height: 2;
    .fin-para{
        line-height: 1.4;
        color: gray;

    }
}
.fin-img{

    width: 300px; height: 120px;
    padding-top: 20px; padding-left: 80px;
}

.finance-more{
    text-align: center;
    text-decoration: none;
    color: white;
    border: transparent;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 180px;
    line-height: 1;
    background-color: aquamarine;
    transition: 1s ease;
}
.finance-more:hover{
    color: blue;
    background-color: white;
    outline: 1.5px solid blue;
    box-sizing: border-box;
    transition: 1s ease;
}
    


//  Browse Topics Section Starts Here
#BROWSE-TOPICS{
    height: 100vh;
    width: 100%;
   background-color:  rgb(144, 183, 199);
}
.browse-container{
   background-color:rgba(137, 173, 193, 0.331);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: 50%;
    font-size: larger;
    line-height: 1;
    padding-top: 2%;
    .cont-h5{
        width: fit-content;
        color: rgb(0, 59, 148);
        cursor: pointer;
        transition: 1.5s ease;
       }
       .cont-h5:hover{
        color: rgb(96, 172, 146);
        transition: 1s ease;
        
       }
}
.browse-head{
    display: flex;
    justify-content: center;
    color: rgb(82, 82, 159);
    font-family: serif;
    font-size: small;
    text-align: center;
    padding-top: 5%;
    background-color: rgba(137, 173, 193, 0.331);
    h1{
       width: fit-content;
       border-bottom: 2px solid rgba(9, 105, 156, 0.799);
    }
}
.content-container{
    display: flex;
    gap: 0.5%;
   width: 100%;
   flex-wrap: wrap;
   background-color: rgb(144, 183, 199);
}

.browse-design{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 10%;
    line-height: 2;
    margin-left: 2%;
    border: 2px solid rgb(81, 135, 168);
    border-radius: 5%;
    text-align: center;
    padding: 1%;
    transition: 2s all ease;
}

// Hovering Web design making its siblings takes the same effects
.browse-design:hover,
.browse-design:hover ~ .private-finance{
    background-color: rgba(131, 188, 216, 0.941);
    transition: 1.5s all ease;
    transform: translate(0px , -20px);
}

.highlight{
    color: rgb(200, 89, 206);
}
.web-img2{
    margin-left: 6%;
    padding: 5%;
}

// Browse Content hovering webdesign making its sibling takes the same effects

.browse-design:hover ~ .browse-design2, 
.browse-design:hover ~ .browse-design2 ~ .corporate-finance {
    transition: 3s all ease;
    transform: translate(0px, 20px);
    background-color: rgb(78, 133, 115);
}                                                      
//      

.browse-design2{
    transition: 2s all ease;
    display: flex;
    flex-direction: column;
    width: 20%;
    line-height: 1.5;
    margin-left: 2%;
    border: 2px solid rgb(81, 135, 168);
    border-radius: 5%;
    text-align: center;
    padding: 1%;
    .graphic-img{
        margin-left: 20%;
        padding-top: 5%;
    }
    .highlightgraphic-content{
        color: rgb(30, 175, 30);
    }

}
.browse-design2:hover{
    background-color: rgba(96, 180, 149, 0.76);
    transform: translate(0px,20px);
    
}
.corporate-finance{
    transition: 2s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    width: 20%;
    border: 2px solid rgb(81, 135, 168);
    border-radius: 5%;
    margin-left: 1%;
    padding: 1%;
    h4{
        margin-bottom: 2%;
    }
    .corp-highlight{
        color: green;
    }
    p{
        line-height: 1.5;
    }
    img{
        margin-top: 3%;
    }
    
    
}
.corporate-finance:hover{
    background-color: rgba(96, 180, 149, 0.76);
    transform: translate(0px,20px);
    transition: 2s all ease;
}
.private-finance{
    transition: 2s all ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 22%;
    border: 2px solid rgb(81, 135, 168);
    border-radius: 5%;
    margin-left: 1%;
    padding: 1%;
    p{
        margin-left: 3%;
        line-height: 1;
        padding-top: 2%;
        
    }
    .pub-highlight{
        color: rgb(47, 103, 171);
    }
    img{
        margin-top: 5%;
    }
}
.private-finance:hover{
    background-color: rgba(131, 188, 216, 0.941);
    transition: 1.5s all ease;
    transform: translate(0px , -20px);

}

//  FOOTER STARTS HERE :-

.about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 160, 168);
    .subclass-about-us{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{ 
            margin-bottom: 4%;
            font-size: xx-large;
            width: fit-content;
            border-bottom: 2px solid black;
        }
        p{ margin-bottom: 4%;
            color: rgb(138, 53, 172);
            font-size: large;
        }
    }
}
.click-here{
    width: 10%; height: 5%;
  
    a{ 
        padding: 5%;
      color: blue;
      text-decoration: none;
      border: 1px solid blue;
    

}

}




.footer-nav-container{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    align-items: center;
    background-color: black;

  .nav-links{
    width: 10%;
       .subclass-nav-links{
        
        width: 100%;
        height: auto;
        // text-align: center;
        padding: 3%;
          li{
           list-style: none;
       
          a{  
            transition: 2s all ease;
            line-height: 2.4;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 2%;
            width: 100%;
           }
           .anchor-BT{
            display: inline-block;
            height: fit-content;
            transition: 2s all ease;
           }
           & :hover{
            transition: 2s all ease;
            color: rgb(115, 43, 182);
            border-left: 2px solid red;
            
           }
           
           }
         }
        }
        
        }

        //  FOOTER SOCIAL ACCOUNTS DESIGNINGS STARTS

.social-accounts{
    display: flex;
    flex-direction: column;
    width: 30%; height: 50%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
    
    a{
        text-decoration: none;
        color: white;
       
    }
    div{
        
         #instagram{
            font-size: x-large;
            background-color: white;
            border: 2px solid rgb(247, 247, 247);
            padding: 2%;
            color: black;
            border-radius: 100%;
            transition: 2s ease;
        }
        #facebook{
            font-size: x-large;
            background-color: white;
            border: 2px solid rgb(247, 247, 247);
            padding: 2%;
            color: black;
            border-radius: 100%;
        }
        
        #twitter{
            font-size: x-large;
            background-color: white;
            border: 2px solid rgb(247, 247, 247);
            padding: 2%;
            color: black;
            border-radius: 100%;
            
        }
        #twitter{
            transition: 2s ease;
        }
        #youtube{
            font-size: x-large;
            background-color: white;
            border: 2px solid rgb(247, 247, 247);
            padding: 2%;
            color: rgb(0, 0, 0);
            border-radius: 100%;
        }
        #youtube{
            transition: 2s ease;
        }
        
        .insta{
            transition: 2s ease;
        }
         #facebook{
         transition: 2s ease;
       }
    }
    .social-div2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        gap: 10%;
        color: white;
    }
    .social-div4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        gap: 10%;
        color: white;
    }
}
.social-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10%;
    color: white;
   
}
.social-div-twitter{
    display: flex;
    align-items: center;
    margin-right: 7%;
    gap: 14%;
    color: white;
}




.social-div1:hover #instagram,
.social-div1:hover #instagram ~ .insta   {
    color: red;
    transition: 2s ease;
    transform: scale(1.1);
}
.social-div4:hover #youtube,
.social-div4:hover #youtube ~ .yt  {
    color: red;
    transition: 2s ease;
    transform: scale(1.1);
}    
.social-div-twitter:hover #twitter,
.social-div-twitter:hover #twitter ~ .twitter  {
    color: rgb(8, 12, 249);
    transition: 2s ease;
    transform: scale(1.1);
}    
.social-div2:hover #facebook,
.social-div2:hover #facebook ~ .fb {
    color: rgb(81, 0, 255);
    transition: 2s ease;
    transform: scale(1.1);
}    


 //  FOOTER SOCIAL ACCOUNTS DESIGNINGS STARTS


 
