*{margin: 0;
padding: 0;}
body{
    font-family: serif;
    box-sizing: border-box;
}

// Navbar Section Display flex and other styling starts here :- 



.nav-container{
    display: flex;
    width: 100%;
    
}
.page-heading{
    padding-left: 10%;
}


nav{
    display: flex;
    width: 100vw;
    height: 8vh;
    gap: 8%;
    justify-content: flex-start;
    background-color: rgb(94, 167, 157);
    align-items: center;
   
    div{
          i{  
           display: flex;
            color: rgb(0, 0, 0);
            border-radius: 100%;
            border: 2px solid black(0, 0, 0);
            width: 30px; height: 25px;
            text-align: center;
            background-color: rgb(255, 255, 255);
            align-items: center;
            padding-top: 6px;
            transition: 1s ease-out;
            cursor: pointer;
          
            

        }

         ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 25%;
        
       

            li{
            
            list-style-type: none;
         
    
                 a{ 
                 width: 50px;
                 text-decoration: none;
                 color: rgb(255, 255, 255);
                 font-size: small;
                 transition: 1s ease-out;
               }
           
             }
           }
        
        }
    }

    // Hover Properties for Navbar Anchor Tags 

     .nav-container ul li a:hover{
         color: blueviolet;
         transition: 1s ease-in-out;

        
       
         box-sizing: border-box;
    }
     #navuser-icon:hover{
         color: rgb(26, 92, 31);
         background-color: blueviolet;
         outline: 1px solid rgb(255, 255, 255);
         transition: 1.2s ease;
    }

    @media (max-width:400px) {
        #nav{
            display: flex;
            gap: 65%;
            #hamburger{
                display: show;
            }
            .page-heading{
                display: show;
            }
        }
          .nav-container{
             font-size: 1em;
             display: none;

          }

        
    }
    // HEADER ENDS

    //  MAin STARTS
    // .container-section{
    //     background-color: rgb(0, 0, 0);
    //     width: 100vw; height: 100vh;
    // }

.tagcontainer-div{
    height: 45vh; width: 100vw;
    background-color: rgba(36, 128, 141, 0.781);
}

 .headline{
          h1{display: flex;
            align-items: center;
            width: 100%;
            height: 20%;
           
            justify-content: center;
            padding-top: 4% ;
            font-family: serif;
            
            font-size: 50px ;
            color: white;
          }
        }
.subhead-line{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 166);
   
    font-size: large;
    padding-bottom: 10px;
    height: 8%;
    // margin-top: 10%;
   
}    
#search{
    text-align: center;
}    
.search-bar{
    padding: 15px 20%;
    border-radius: 20px;
    border: transparent;
    text-align: center;
    width: 200px;
    position: relative;
    z-index: 1;

}
.btn-search{
    text-align: center;
    position: absolute;
    right: 290px; top: 203px;
    z-index: 1;
    border: transparent;
    border-radius: 15px;
    padding: 8px 15px;
    color: white;
    background-color: rgb(47, 211, 175);
    cursor: pointer;
    transition: 1s ease;
    
}
.btn-search:hover{
    color: blueviolet;
    transition: 1s ease;
}
// Section-1 Ends Here
// Section-2 Starts Here
#section-2{
    background-color: rgb(56, 110, 126);
    width: 100%;
    height: 46.9vh;
}
.container-div2{
    width: 100vw; height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; gap: 5%;
}
.web-design{
    width: 25%; height: 100%;
    border: transparent;
    border-radius: 20px;
    padding-left: 1%;
    position: relative;
    bottom: 65px;
    line-height: 2;
    
    background-color: white;
}
.web-para{
    color: gray;
    line-height: 1.5;
}
.web-img{
    padding-left: 25px;
    padding-top: 15px;
    height: 120px; width: 250px;
    text-align: center;
    
}
.finance{
  
    color: rgb(0, 0, 0);
    background-color: rgb(43, 66, 83);
    width: 40%; height: 100%;
    border: transparent;
    border-radius: 20px;
    padding-left: 1%;
    position: relative;
    bottom: 65px;
    line-height: 2;
    .fin-para{
        line-height: 1.4;
        color: gray;

    }
}
.fin-img{

    width: 300px; height: 120px;
    padding-top: 20px; padding-left: 80px;
}

.finance-more{
    text-align: center;
    text-decoration: none;
    color: white;
    border: transparent;
    padding: 6px 10px;
    border-radius: 12px;
    margin-left: 180px;
    line-height: 1;
    background-color: aquamarine;
    transition: 1s ease;
}
.finance-more:hover{
    color: blue;
    background-color: white;
    outline: 1.5px solid blue;
    box-sizing: border-box;
    transition: 1s ease;
}